<table id="example2" class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>No. Daftar</th>
    <th>Nama Lengkap</th>
    <th>NIM</th>
    <th>Skema <br> Sertifikasi</th>
    <th>Status</th>
    <th>Aksi</th>
  </tr>
  </thead>
  <tbody>
    <% daftar.forEach(e => { %>
      <tr>
        <td><%= e.regisNum %></td>
        <td><%= e.applicant.name %></td>
        <td><%= e.applicant.nim %></td>
        <td><%= e.applicant.schema.toUpperCase() %></td>
        <td>
          <% if (e.assesment.result === "TBC") { %>
            <span class="badge badge-info">Belum Ujian</span>
          <% } else if (e.assesment.result === "BK") { %>
            <span class="badge badge-warning">Belum Kompeten</span>
          <% } else { %>
            <span class="badge badge-success">Kompeten</span>
          <% } %>
          <!-- <span class="badge badge-success">Kompeten</span> -->
        </td>
        <td>
          <form action="/pengajuan/delete/<%= e.id %>?_method=DELETE" method="post">
            <a href="/pengajuan/detail/<%= e._id %>" class="btn btn-light btn-sm">
              <i class="fas fa-pencil-alt"></i>
              Detail
            </a>
            
            <button class="btn  btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i>
              Hapus
            </button>
          </form>
        </td>
      </tr>
    <% }) %>
    <!-- <tr>
      <td>01220123</td>
      <td>Muhammad Ikhwan</td>
      <td>310118012620</td>
      <td>LP</td>
      <td>
        <span class="badge badge-info">Selesai</span>
        <span class="badge badge-success">Kompeten</span>
      </td>
      <td>
        <a href="/pengajuan/detail/1" class="btn btn-light btn-sm">
          <i class="fas fa-pencil-alt"></i>
          Detail
        </a>
      </td>
    </tr>
    <tr>
      <td>01220123</td>
      <td>Muhammad Ikhwan</td>
      <td>310118012620</td>
      <td>LP</td>
      <td>
        <span class="badge badge-info">Selesai</span>
        <span class="badge badge-danger">Belum Kompeten</span>
      </td>
      <td>
        <a href="/pengajuan/detail/1" class="btn btn-light btn-sm">
          <i class="fas fa-pencil-alt"></i>
          Detail
        </a>
      </td>
    </tr> -->
  </tbody>
  <!-- <tfoot>
  <tr>
    <th>Rendering engine</th>
    <th>Browser</th>
    <th>Platform(s)</th>
    <th>Engine version</th>
    <th>CSS grade</th>
  </tr>
  </tfoot> -->
</table>