<%- include('../partials/header.ejs') %>
<body>
<%- include('../partials/navbar.ejs') %>
  <main>
    <header class="header-title pt-5">
      <div class="container-lg">
        <div >
          <div class="row d-flex justify-content-center p-1 pt-md-3">
            <div class="col-12 col-lg-7 alert alert-danger" role="alert">
              <p class="fw-semibold fs-6 pt-3 d-flex gap-2">
                <svg width="21" height="21" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M25 33.3333C24.5879 33.3333 24.1851 33.4555 23.8425 33.6844C23.4999 33.9134 23.2329 34.2387 23.0752 34.6194C22.9175 35.0001 22.8763 35.419 22.9567 35.8231C23.0371 36.2272 23.2355 36.5984 23.5268 36.8898C23.8182 37.1812 24.1894 37.3796 24.5935 37.46C24.9977 37.5403 25.4166 37.4991 25.7972 37.3414C26.1779 37.1837 26.5033 36.9167 26.7322 36.5741C26.9611 36.2315 27.0833 35.8287 27.0833 35.4167C27.0833 34.8641 26.8638 34.3342 26.4731 33.9435C26.0824 33.5528 25.5525 33.3333 25 33.3333ZM47.2291 36.3958L30.4583 7.22916C29.9162 6.25732 29.1245 5.44782 28.165 4.88431C27.2054 4.32079 26.1128 4.02368 25 4.02368C23.8872 4.02368 22.7946 4.32079 21.835 4.88431C20.8754 5.44782 20.0837 6.25732 19.5416 7.22916L2.87497 36.3958C2.31413 37.3417 2.01277 38.4188 2.00132 39.5184C1.98986 40.618 2.26872 41.7011 2.80974 42.6584C3.35075 43.6158 4.13477 44.4134 5.08265 44.9709C6.03052 45.5283 7.10869 45.8258 8.20831 45.8333H41.7916C42.9001 45.8442 43.9915 45.5602 44.9539 45.0102C45.9164 44.4603 46.7153 43.6643 47.2687 42.7038C47.8221 41.7433 48.1101 40.6529 48.1031 39.5445C48.0962 38.436 47.7945 37.3493 47.2291 36.3958ZM43.625 40.5625C43.4424 40.8874 43.1759 41.1574 42.8535 41.3442C42.531 41.5311 42.1643 41.6281 41.7916 41.625H8.20831C7.83562 41.6281 7.46893 41.5311 7.14647 41.3442C6.82401 41.1574 6.55758 40.8874 6.37497 40.5625C6.19212 40.2458 6.09586 39.8865 6.09586 39.5208C6.09586 39.1551 6.19212 38.7959 6.37497 38.4792L23.0416 9.31249C23.2165 8.97124 23.4821 8.68486 23.8092 8.48488C24.1364 8.2849 24.5124 8.17908 24.8958 8.17908C25.2792 8.17908 25.6552 8.2849 25.9824 8.48488C26.3095 8.68486 26.5751 8.97124 26.75 9.31249L43.5208 38.4792C43.7275 38.7913 43.8463 39.1534 43.8646 39.5274C43.8829 39.9013 43.8002 40.2733 43.625 40.6042V40.5625ZM25 16.6667C24.4474 16.6667 23.9175 16.8862 23.5268 17.2769C23.1361 17.6676 22.9166 18.1975 22.9166 18.75V27.0833C22.9166 27.6359 23.1361 28.1658 23.5268 28.5565C23.9175 28.9472 24.4474 29.1667 25 29.1667C25.5525 29.1667 26.0824 28.9472 26.4731 28.5565C26.8638 28.1658 27.0833 27.6359 27.0833 27.0833V18.75C27.0833 18.1975 26.8638 17.6676 26.4731 17.2769C26.0824 16.8862 25.5525 16.6667 25 16.6667Z" fill="#0A0F26"/>
                </svg>
                Cari pertanyaan yang terkait terlebih dahulu sebelum bertanya!
              </p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="search-field">
      <div class="container-lg">
        <div class="row d-flex justify-content-center p-1">
          <div class="col-12 col-lg-7 d-flex justify-content-center">
            <!-- <button type="button" class="btn btn-primary">Primary</button> -->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Buat Pertanyaan
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Form Buat Pertanyaan</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form action="/forum/create" method="post">
                      <div class="mb-3">
                        <label for="name" class="form-label">Nama Lengkap</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="nama lengkap wajib diisi.." required>
                      </div>
                      <div class="mb-3">
                        <label for="question" class="form-label">Pertanyaan</label>
                        <textarea class="form-control" name="question" id="question" rows="3" placeholder="Tulis Pertanyaan..." required></textarea>
                      </div>
                      <button type="submit" class="col-12 btn btn-primary">Kirim</button>
                    </form>
                  </div>
                  <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="list-pertanyaan">
      <div class="container-lg">
        <div class="row d-flex justify-content-center p-1">
          <div class="col-12 col-lg-7">
            <% forum.forEach(e => { %>
              <div class="pertanyaan mt-1 py-3 px-4 bg-body-tertiary rounded-3 mb-1">
                <a href="/forum/detail/<%= e.id %>" class="text-decoration-none d-flex flex-column gap-2">
                  <div class="user">
                    <svg width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 2C10.0605 2.00369 8.16393 2.57131 6.54128 3.63374C4.91862 4.69617 3.63994 6.20754 2.86099 7.98377C2.08204 9.76 1.83643 11.7244 2.15408 13.6378C2.47173 15.5511 3.33893 17.3308 4.65005 18.76V18.76C5.58647 19.775 6.72299 20.5851 7.98799 21.1392C9.25298 21.6933 10.619 21.9793 12 21.9793C13.3811 21.9793 14.7471 21.6933 16.0121 21.1392C17.2771 20.5851 18.4136 19.775 19.35 18.76V18.76C20.6612 17.3308 21.5284 15.5511 21.846 13.6378C22.1637 11.7244 21.9181 9.76 21.1391 7.98377C20.3602 6.20754 19.0815 4.69617 17.4588 3.63374C15.8362 2.57131 13.9396 2.00369 12 2V2ZM12 20C9.92851 19.9969 7.93896 19.1903 6.45005 17.75C6.90209 16.6495 7.67108 15.7083 8.6593 15.0459C9.64752 14.3835 10.8104 14.0298 12 14.0298C13.1897 14.0298 14.3526 14.3835 15.3408 15.0459C16.329 15.7083 17.098 16.6495 17.55 17.75C16.0611 19.1903 14.0716 19.9969 12 20ZM10 10C10 9.60444 10.1173 9.21776 10.3371 8.88886C10.5569 8.55996 10.8692 8.30362 11.2347 8.15224C11.6001 8.00087 12.0023 7.96126 12.3902 8.03843C12.7782 8.1156 13.1346 8.30608 13.4143 8.58579C13.694 8.86549 13.8844 9.22186 13.9616 9.60982C14.0388 9.99778 13.9992 10.3999 13.8478 10.7654C13.6964 11.1308 13.4401 11.4432 13.1112 11.6629C12.7823 11.8827 12.3956 12 12 12C11.4696 12 10.9609 11.7893 10.5858 11.4142C10.2108 11.0391 10 10.5304 10 10ZM18.91 16C18.0166 14.4718 16.6415 13.283 15 12.62C15.5092 12.0427 15.841 11.3307 15.9555 10.5694C16.0701 9.80822 15.9625 9.03011 15.6458 8.3285C15.3291 7.62688 14.8166 7.03156 14.17 6.61397C13.5233 6.19637 12.7698 5.97425 12 5.97425C11.2303 5.97425 10.4768 6.19637 9.83014 6.61397C9.18346 7.03156 8.67102 7.62688 8.3543 8.3285C8.03758 9.03011 7.93004 9.80822 8.04458 10.5694C8.15912 11.3307 8.49088 12.0427 9.00005 12.62C7.35865 13.283 5.98352 14.4718 5.09005 16C4.37799 14.7871 4.00177 13.4065 4.00005 12C4.00005 9.87827 4.8429 7.84344 6.34319 6.34315C7.84349 4.84285 9.87832 4 12 4C14.1218 4 16.1566 4.84285 17.6569 6.34315C19.1572 7.84344 20 9.87827 20 12C19.9983 13.4065 19.6221 14.7871 18.91 16V16Z" fill="#0A0F26"/>
                    </svg>
                    <span class="user-name text-black-50 fw-lighter mb-3"><%= e.name %></span>
                  </div>
                  <div class="question text-black fw-medium mb-1 ps-1">
                    <%= e.question %>
                  </div>
                </a>
              </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </main>

<%- include('../partials/js.ejs') %>
</body>
</html>