<%- include('../partials/header.ejs') %>
<body>
<%- include('../partials/navbar.ejs') %>

  <main>
      <section class="hero">
        <div class="container-lg">
          <div class="row pt-lg-5">
            <div class="col-12 col-md-7 col-lg-6  pt-md-4 pt-lg-0 ps-lg-5">
              <header class="position-relative">
                <h1><%= data.title1 %> <br> <%= data.title2 %></h1>
                <h5 class="position-relative z-1">SKEMA SERTIFIKASI</h5>
                <div class="accent position-absolute z-0"></div>
              </header>

              <p class="body-header pe-lg-5 fs-6 fw-light lh-lg">
                <%= data.description %>
              </p>

              <div class="footer-hero mt-4 mt-md-4 pt-md-3">
                <a href="/daftar" target="_blank" rel="noopener noreferrer" role="button" class="btn btn-primary mb-3">
                  Daftar Sertifikasi
                </a>
                <a class="btn btn-light mb-3" href="/sertifikasi/assesment" role="button">Lihat Hasil Sertifikasi</a>
              </div>
            </div>
            <div class="col-12 col-md-5 col-lg-6 text-lg-center pb-3">
              <img src="/images/<%= data.img %>.png" alt="hero image">
            </div>
          </div>
        </div>
      </section>
      <section class="kompetensi">
        <div class="container-lg d-flex flex-column">
          <header class="heading-section position-relative d-flex flex-column align-items-center">
            <h6 class="sub-headline z-1">Informasi</h6>
            <h4 class="headline fw-bold z-1">Kompetensi</h4>
            <div class="accent position-absolute z-0"></div>
          </header>

          <article class=" align-self-center">
            <div class="row mt-5">
              <div class="col-md-6 mb-3 mb-sm-0">
                <div class="card w-100" style="max-width: 30rem; min-height: 30rem;">
                  <div class="card-body">
                    <h5 class="card-title text-center">Kompetensi Inti <%= data.title1 %> <%= data.title2 %></h5>
                    <ul class="list-unstyled">
                      <% data.kompetensiInti.forEach(e => { %>
                        <li class="d-flex gap-2 mb-1">
                          <span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M20.8701 17.25L18.1601 12.57C18.7146 11.5515 19.0035 10.4097 19.0001 9.25C19.0001 7.39348 18.2626 5.61301 16.9498 4.30025C15.6371 2.9875 13.8566 2.25 12.0001 2.25C10.1436 2.25 8.36308 2.9875 7.05033 4.30025C5.73757 5.61301 5.00007 7.39348 5.00007 9.25C4.99663 10.4097 5.28553 11.5515 5.84007 12.57L3.13007 17.25C3.04213 17.4023 2.99592 17.5751 2.99609 17.751C2.99627 17.9269 3.04282 18.0996 3.13106 18.2517C3.2193 18.4039 3.34611 18.53 3.49868 18.6175C3.65125 18.705 3.8242 18.7507 4.00007 18.75H6.87007L8.33007 21.21C8.37929 21.2915 8.4399 21.3656 8.51007 21.43C8.69545 21.6087 8.9426 21.709 9.20007 21.71H9.34007C9.49104 21.6893 9.63529 21.6345 9.76181 21.5495C9.88833 21.4646 9.99377 21.3519 10.0701 21.22L12.0001 17.9L13.9301 21.25C14.0075 21.38 14.1134 21.4908 14.2399 21.5739C14.3663 21.6571 14.51 21.7104 14.6601 21.73H14.8001C15.061 21.7316 15.3122 21.6311 15.5001 21.45C15.5673 21.3893 15.6247 21.3184 15.6701 21.24L17.1301 18.78H20.0001C20.1763 18.7807 20.3495 18.7348 20.5023 18.647C20.6551 18.5592 20.782 18.4326 20.8701 18.28C20.9635 18.1245 21.0129 17.9464 21.0129 17.765C21.0129 17.5836 20.9635 17.4055 20.8701 17.25ZM9.19007 18.78L8.30007 17.29C8.21244 17.1422 8.08818 17.0194 7.9393 16.9336C7.79041 16.8478 7.62192 16.8018 7.45007 16.8H5.72007L7.15007 14.32C8.1348 15.2689 9.37589 15.9085 10.7201 16.16L9.19007 18.78ZM12.0001 14.25C11.0112 14.25 10.0445 13.9568 9.22222 13.4073C8.39998 12.8579 7.75911 12.077 7.38068 11.1634C7.00224 10.2498 6.90322 9.24445 7.09615 8.27455C7.28907 7.30464 7.76528 6.41373 8.46454 5.71447C9.1638 5.0152 10.0547 4.539 11.0246 4.34607C11.9945 4.15315 12.9999 4.25216 13.9135 4.6306C14.8271 5.00904 15.608 5.6499 16.1574 6.47215C16.7068 7.29439 17.0001 8.26109 17.0001 9.25C17.0001 10.5761 16.4733 11.8479 15.5356 12.7855C14.5979 13.7232 13.3262 14.25 12.0001 14.25ZM16.5501 16.8C16.3782 16.8018 16.2097 16.8478 16.0609 16.9336C15.912 17.0194 15.7877 17.1422 15.7001 17.29L14.8101 18.78L13.2901 16.13C14.6296 15.8734 15.866 15.2343 16.8501 14.29L18.2801 16.77L16.5501 16.8Z" fill="#0EF217"/>
                            </svg>
                          </span>
                          <p class="card-text text-body-secondary"><%= e %></p>
                        </li>
                      <% }) %>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card w-100" style="max-width: 30rem; min-height: 30rem;">
                  <div class="card-body">
                    <h5 class="card-title">Kompetensi Pilihan <%= data.title1 %> <%= data.title2 %></h5>
                    <ul class="list-unstyled">
                      <% data.kompetensiPilihan.forEach(e => { %>
                        <li class="d-flex gap-2 mb-1">
                          <span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M20.8701 17.25L18.1601 12.57C18.7146 11.5515 19.0035 10.4097 19.0001 9.25C19.0001 7.39348 18.2626 5.61301 16.9498 4.30025C15.6371 2.9875 13.8566 2.25 12.0001 2.25C10.1436 2.25 8.36308 2.9875 7.05033 4.30025C5.73757 5.61301 5.00007 7.39348 5.00007 9.25C4.99663 10.4097 5.28553 11.5515 5.84007 12.57L3.13007 17.25C3.04213 17.4023 2.99592 17.5751 2.99609 17.751C2.99627 17.9269 3.04282 18.0996 3.13106 18.2517C3.2193 18.4039 3.34611 18.53 3.49868 18.6175C3.65125 18.705 3.8242 18.7507 4.00007 18.75H6.87007L8.33007 21.21C8.37929 21.2915 8.4399 21.3656 8.51007 21.43C8.69545 21.6087 8.9426 21.709 9.20007 21.71H9.34007C9.49104 21.6893 9.63529 21.6345 9.76181 21.5495C9.88833 21.4646 9.99377 21.3519 10.0701 21.22L12.0001 17.9L13.9301 21.25C14.0075 21.38 14.1134 21.4908 14.2399 21.5739C14.3663 21.6571 14.51 21.7104 14.6601 21.73H14.8001C15.061 21.7316 15.3122 21.6311 15.5001 21.45C15.5673 21.3893 15.6247 21.3184 15.6701 21.24L17.1301 18.78H20.0001C20.1763 18.7807 20.3495 18.7348 20.5023 18.647C20.6551 18.5592 20.782 18.4326 20.8701 18.28C20.9635 18.1245 21.0129 17.9464 21.0129 17.765C21.0129 17.5836 20.9635 17.4055 20.8701 17.25ZM9.19007 18.78L8.30007 17.29C8.21244 17.1422 8.08818 17.0194 7.9393 16.9336C7.79041 16.8478 7.62192 16.8018 7.45007 16.8H5.72007L7.15007 14.32C8.1348 15.2689 9.37589 15.9085 10.7201 16.16L9.19007 18.78ZM12.0001 14.25C11.0112 14.25 10.0445 13.9568 9.22222 13.4073C8.39998 12.8579 7.75911 12.077 7.38068 11.1634C7.00224 10.2498 6.90322 9.24445 7.09615 8.27455C7.28907 7.30464 7.76528 6.41373 8.46454 5.71447C9.1638 5.0152 10.0547 4.539 11.0246 4.34607C11.9945 4.15315 12.9999 4.25216 13.9135 4.6306C14.8271 5.00904 15.608 5.6499 16.1574 6.47215C16.7068 7.29439 17.0001 8.26109 17.0001 9.25C17.0001 10.5761 16.4733 11.8479 15.5356 12.7855C14.5979 13.7232 13.3262 14.25 12.0001 14.25ZM16.5501 16.8C16.3782 16.8018 16.2097 16.8478 16.0609 16.9336C15.912 17.0194 15.7877 17.1422 15.7001 17.29L14.8101 18.78L13.2901 16.13C14.6296 15.8734 15.866 15.2343 16.8501 14.29L18.2801 16.77L16.5501 16.8Z" fill="#0EF217"/>
                            </svg>
                          </span>
                          <p class="card-text text-body-secondary"><%= e %></p>
                        </li>
                      <% }) %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </section>
      <section class="form">
        <div class="container-lg">
          <header class="heading-section position-relative d-flex flex-column align-items-center">
            <h6 class="sub-headline z-1">Download</h6>
            <h4 class="headline fw-bold z-1">Formulir</h4>
            <div class="accent position-absolute z-0"></div>
          </header>

          <article class="mt-4 pt-5 mb-3">
            <div class="row row-cols-1 row-cols-md-2 g-4 mb-3 justify-content-center">
              <div class="col-md-4 col-lg-3">
                  <div class="card text-center ">
                    <a href="<%= data.apl1 %>" target="_blank" rel="noopener noreferrer" class="text-decoration-none ">
                      <div class="card-body d-flex flex-column p-3">
                        <div class="illustration align-self-center d-flex align-items-center justify-content-center">
                          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 10C9.66848 10 9.35054 10.1317 9.11612 10.3661C8.8817 10.6005 8.75 10.9185 8.75 11.25C8.75 11.5815 8.8817 11.8995 9.11612 12.1339C9.35054 12.3683 9.66848 12.5 10 12.5H11.25C11.5815 12.5 11.8995 12.3683 12.1339 12.1339C12.3683 11.8995 12.5 11.5815 12.5 11.25C12.5 10.9185 12.3683 10.6005 12.1339 10.3661C11.8995 10.1317 11.5815 10 11.25 10H10ZM16.25 25H7.5C7.16848 25 6.85054 24.8683 6.61612 24.6339C6.3817 24.3995 6.25 24.0815 6.25 23.75V6.25C6.25 5.91848 6.3817 5.60054 6.61612 5.36612C6.85054 5.1317 7.16848 5 7.5 5H13.75V8.75C13.75 9.74456 14.1451 10.6984 14.8483 11.4017C15.5516 12.1049 16.5054 12.5 17.5 12.5H21.25V15C21.25 15.3315 21.3817 15.6495 21.6161 15.8839C21.8505 16.1183 22.1685 16.25 22.5 16.25C22.8315 16.25 23.1495 16.1183 23.3839 15.8839C23.6183 15.6495 23.75 15.3315 23.75 15V11.25C23.75 11.25 23.75 11.25 23.75 11.175C23.737 11.0602 23.7118 10.947 23.675 10.8375V10.725C23.6149 10.5965 23.5347 10.4783 23.4375 10.375L15.9375 2.875C15.8342 2.77777 15.716 2.6976 15.5875 2.6375C15.5461 2.63026 15.5039 2.63026 15.4625 2.6375C15.341 2.5725 15.2103 2.52615 15.075 2.5H7.5C6.50544 2.5 5.55161 2.89509 4.84835 3.59835C4.14509 4.30161 3.75 5.25544 3.75 6.25V23.75C3.75 24.7446 4.14509 25.6984 4.84835 26.4017C5.55161 27.1049 6.50544 27.5 7.5 27.5H16.25C16.5815 27.5 16.8995 27.3683 17.1339 27.1339C17.3683 26.8995 17.5 26.5815 17.5 26.25C17.5 25.9185 17.3683 25.6005 17.1339 25.3661C16.8995 25.1317 16.5815 25 16.25 25ZM16.25 6.7625L19.4875 10H17.5C17.1685 10 16.8505 9.8683 16.6161 9.63388C16.3817 9.39946 16.25 9.08152 16.25 8.75V6.7625ZM17.5 15H10C9.66848 15 9.35054 15.1317 9.11612 15.3661C8.8817 15.6005 8.75 15.9185 8.75 16.25C8.75 16.5815 8.8817 16.8995 9.11612 17.1339C9.35054 17.3683 9.66848 17.5 10 17.5H17.5C17.8315 17.5 18.1495 17.3683 18.3839 17.1339C18.6183 16.8995 18.75 16.5815 18.75 16.25C18.75 15.9185 18.6183 15.6005 18.3839 15.3661C18.1495 15.1317 17.8315 15 17.5 15ZM25.8875 22.8625C25.7713 22.7453 25.633 22.6523 25.4807 22.5889C25.3284 22.5254 25.165 22.4928 25 22.4928C24.835 22.4928 24.6716 22.5254 24.5193 22.5889C24.367 22.6523 24.2287 22.7453 24.1125 22.8625L23.75 23.2375V20C23.75 19.6685 23.6183 19.3505 23.3839 19.1161C23.1495 18.8817 22.8315 18.75 22.5 18.75C22.1685 18.75 21.8505 18.8817 21.6161 19.1161C21.3817 19.3505 21.25 19.6685 21.25 20V23.2375L20.8875 22.8625C20.6521 22.6271 20.3329 22.4949 20 22.4949C19.6671 22.4949 19.3479 22.6271 19.1125 22.8625C18.8771 23.0979 18.7449 23.4171 18.7449 23.75C18.7449 24.0829 18.8771 24.4021 19.1125 24.6375L21.6125 27.1375C21.7314 27.2513 21.8716 27.3405 22.025 27.4C22.1746 27.4661 22.3364 27.5003 22.5 27.5003C22.6636 27.5003 22.8254 27.4661 22.975 27.4C23.1284 27.3405 23.2686 27.2513 23.3875 27.1375L25.8875 24.6375C26.0047 24.5213 26.0977 24.383 26.1611 24.2307C26.2246 24.0784 26.2572 23.915 26.2572 23.75C26.2572 23.585 26.2246 23.4216 26.1611 23.2693C26.0977 23.117 26.0047 22.9787 25.8875 22.8625ZM15 22.5C15.3315 22.5 15.6495 22.3683 15.8839 22.1339C16.1183 21.8995 16.25 21.5815 16.25 21.25C16.25 20.9185 16.1183 20.6005 15.8839 20.3661C15.6495 20.1317 15.3315 20 15 20H10C9.66848 20 9.35054 20.1317 9.11612 20.3661C8.8817 20.6005 8.75 20.9185 8.75 21.25C8.75 21.5815 8.8817 21.8995 9.11612 22.1339C9.35054 22.3683 9.66848 22.5 10 22.5H15Z" fill="#1C3EC5"/>
                          </svg>
                        </div>
                        <p class="card-title fw-bold mt-2">APL 01</p>
                      </div>
                    </a>
                  </div>
              </div>
              <div class="col-md-4 col-lg-3">
                  <div class="card text-center">
                    <a href="<%= data.apl2 %>" target="_blank" rel="noopener noreferrer" class="text-decoration-none">
                      <div class="card-body d-flex flex-column p-3">
                        <div class="illustration align-self-center d-flex align-items-center justify-content-center">
                          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 10C9.66848 10 9.35054 10.1317 9.11612 10.3661C8.8817 10.6005 8.75 10.9185 8.75 11.25C8.75 11.5815 8.8817 11.8995 9.11612 12.1339C9.35054 12.3683 9.66848 12.5 10 12.5H11.25C11.5815 12.5 11.8995 12.3683 12.1339 12.1339C12.3683 11.8995 12.5 11.5815 12.5 11.25C12.5 10.9185 12.3683 10.6005 12.1339 10.3661C11.8995 10.1317 11.5815 10 11.25 10H10ZM16.25 25H7.5C7.16848 25 6.85054 24.8683 6.61612 24.6339C6.3817 24.3995 6.25 24.0815 6.25 23.75V6.25C6.25 5.91848 6.3817 5.60054 6.61612 5.36612C6.85054 5.1317 7.16848 5 7.5 5H13.75V8.75C13.75 9.74456 14.1451 10.6984 14.8483 11.4017C15.5516 12.1049 16.5054 12.5 17.5 12.5H21.25V15C21.25 15.3315 21.3817 15.6495 21.6161 15.8839C21.8505 16.1183 22.1685 16.25 22.5 16.25C22.8315 16.25 23.1495 16.1183 23.3839 15.8839C23.6183 15.6495 23.75 15.3315 23.75 15V11.25C23.75 11.25 23.75 11.25 23.75 11.175C23.737 11.0602 23.7118 10.947 23.675 10.8375V10.725C23.6149 10.5965 23.5347 10.4783 23.4375 10.375L15.9375 2.875C15.8342 2.77777 15.716 2.6976 15.5875 2.6375C15.5461 2.63026 15.5039 2.63026 15.4625 2.6375C15.341 2.5725 15.2103 2.52615 15.075 2.5H7.5C6.50544 2.5 5.55161 2.89509 4.84835 3.59835C4.14509 4.30161 3.75 5.25544 3.75 6.25V23.75C3.75 24.7446 4.14509 25.6984 4.84835 26.4017C5.55161 27.1049 6.50544 27.5 7.5 27.5H16.25C16.5815 27.5 16.8995 27.3683 17.1339 27.1339C17.3683 26.8995 17.5 26.5815 17.5 26.25C17.5 25.9185 17.3683 25.6005 17.1339 25.3661C16.8995 25.1317 16.5815 25 16.25 25ZM16.25 6.7625L19.4875 10H17.5C17.1685 10 16.8505 9.8683 16.6161 9.63388C16.3817 9.39946 16.25 9.08152 16.25 8.75V6.7625ZM17.5 15H10C9.66848 15 9.35054 15.1317 9.11612 15.3661C8.8817 15.6005 8.75 15.9185 8.75 16.25C8.75 16.5815 8.8817 16.8995 9.11612 17.1339C9.35054 17.3683 9.66848 17.5 10 17.5H17.5C17.8315 17.5 18.1495 17.3683 18.3839 17.1339C18.6183 16.8995 18.75 16.5815 18.75 16.25C18.75 15.9185 18.6183 15.6005 18.3839 15.3661C18.1495 15.1317 17.8315 15 17.5 15ZM25.8875 22.8625C25.7713 22.7453 25.633 22.6523 25.4807 22.5889C25.3284 22.5254 25.165 22.4928 25 22.4928C24.835 22.4928 24.6716 22.5254 24.5193 22.5889C24.367 22.6523 24.2287 22.7453 24.1125 22.8625L23.75 23.2375V20C23.75 19.6685 23.6183 19.3505 23.3839 19.1161C23.1495 18.8817 22.8315 18.75 22.5 18.75C22.1685 18.75 21.8505 18.8817 21.6161 19.1161C21.3817 19.3505 21.25 19.6685 21.25 20V23.2375L20.8875 22.8625C20.6521 22.6271 20.3329 22.4949 20 22.4949C19.6671 22.4949 19.3479 22.6271 19.1125 22.8625C18.8771 23.0979 18.7449 23.4171 18.7449 23.75C18.7449 24.0829 18.8771 24.4021 19.1125 24.6375L21.6125 27.1375C21.7314 27.2513 21.8716 27.3405 22.025 27.4C22.1746 27.4661 22.3364 27.5003 22.5 27.5003C22.6636 27.5003 22.8254 27.4661 22.975 27.4C23.1284 27.3405 23.2686 27.2513 23.3875 27.1375L25.8875 24.6375C26.0047 24.5213 26.0977 24.383 26.1611 24.2307C26.2246 24.0784 26.2572 23.915 26.2572 23.75C26.2572 23.585 26.2246 23.4216 26.1611 23.2693C26.0977 23.117 26.0047 22.9787 25.8875 22.8625ZM15 22.5C15.3315 22.5 15.6495 22.3683 15.8839 22.1339C16.1183 21.8995 16.25 21.5815 16.25 21.25C16.25 20.9185 16.1183 20.6005 15.8839 20.3661C15.6495 20.1317 15.3315 20 15 20H10C9.66848 20 9.35054 20.1317 9.11612 20.3661C8.8817 20.6005 8.75 20.9185 8.75 21.25C8.75 21.5815 8.8817 21.8995 9.11612 22.1339C9.35054 22.3683 9.66848 22.5 10 22.5H15Z" fill="#1C3EC5"/>
                          </svg>
                        </div>
                        <p class="card-title fw-bold mt-2">APL 02</p>
                      </div>
                    </a>
                  </div>
              </div>
              <div class="col-md-4 col-lg-3">
                  <div class="card text-center">
                    <a href="<%= data.checklist %>" target="_blank" rel="noopener noreferrer" class="text-decoration-none">
                      <div class="card-body d-flex flex-column p-3">
                        <div class="illustration align-self-center d-flex align-items-center justify-content-center">
                          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 10C9.66848 10 9.35054 10.1317 9.11612 10.3661C8.8817 10.6005 8.75 10.9185 8.75 11.25C8.75 11.5815 8.8817 11.8995 9.11612 12.1339C9.35054 12.3683 9.66848 12.5 10 12.5H11.25C11.5815 12.5 11.8995 12.3683 12.1339 12.1339C12.3683 11.8995 12.5 11.5815 12.5 11.25C12.5 10.9185 12.3683 10.6005 12.1339 10.3661C11.8995 10.1317 11.5815 10 11.25 10H10ZM16.25 25H7.5C7.16848 25 6.85054 24.8683 6.61612 24.6339C6.3817 24.3995 6.25 24.0815 6.25 23.75V6.25C6.25 5.91848 6.3817 5.60054 6.61612 5.36612C6.85054 5.1317 7.16848 5 7.5 5H13.75V8.75C13.75 9.74456 14.1451 10.6984 14.8483 11.4017C15.5516 12.1049 16.5054 12.5 17.5 12.5H21.25V15C21.25 15.3315 21.3817 15.6495 21.6161 15.8839C21.8505 16.1183 22.1685 16.25 22.5 16.25C22.8315 16.25 23.1495 16.1183 23.3839 15.8839C23.6183 15.6495 23.75 15.3315 23.75 15V11.25C23.75 11.25 23.75 11.25 23.75 11.175C23.737 11.0602 23.7118 10.947 23.675 10.8375V10.725C23.6149 10.5965 23.5347 10.4783 23.4375 10.375L15.9375 2.875C15.8342 2.77777 15.716 2.6976 15.5875 2.6375C15.5461 2.63026 15.5039 2.63026 15.4625 2.6375C15.341 2.5725 15.2103 2.52615 15.075 2.5H7.5C6.50544 2.5 5.55161 2.89509 4.84835 3.59835C4.14509 4.30161 3.75 5.25544 3.75 6.25V23.75C3.75 24.7446 4.14509 25.6984 4.84835 26.4017C5.55161 27.1049 6.50544 27.5 7.5 27.5H16.25C16.5815 27.5 16.8995 27.3683 17.1339 27.1339C17.3683 26.8995 17.5 26.5815 17.5 26.25C17.5 25.9185 17.3683 25.6005 17.1339 25.3661C16.8995 25.1317 16.5815 25 16.25 25ZM16.25 6.7625L19.4875 10H17.5C17.1685 10 16.8505 9.8683 16.6161 9.63388C16.3817 9.39946 16.25 9.08152 16.25 8.75V6.7625ZM17.5 15H10C9.66848 15 9.35054 15.1317 9.11612 15.3661C8.8817 15.6005 8.75 15.9185 8.75 16.25C8.75 16.5815 8.8817 16.8995 9.11612 17.1339C9.35054 17.3683 9.66848 17.5 10 17.5H17.5C17.8315 17.5 18.1495 17.3683 18.3839 17.1339C18.6183 16.8995 18.75 16.5815 18.75 16.25C18.75 15.9185 18.6183 15.6005 18.3839 15.3661C18.1495 15.1317 17.8315 15 17.5 15ZM25.8875 22.8625C25.7713 22.7453 25.633 22.6523 25.4807 22.5889C25.3284 22.5254 25.165 22.4928 25 22.4928C24.835 22.4928 24.6716 22.5254 24.5193 22.5889C24.367 22.6523 24.2287 22.7453 24.1125 22.8625L23.75 23.2375V20C23.75 19.6685 23.6183 19.3505 23.3839 19.1161C23.1495 18.8817 22.8315 18.75 22.5 18.75C22.1685 18.75 21.8505 18.8817 21.6161 19.1161C21.3817 19.3505 21.25 19.6685 21.25 20V23.2375L20.8875 22.8625C20.6521 22.6271 20.3329 22.4949 20 22.4949C19.6671 22.4949 19.3479 22.6271 19.1125 22.8625C18.8771 23.0979 18.7449 23.4171 18.7449 23.75C18.7449 24.0829 18.8771 24.4021 19.1125 24.6375L21.6125 27.1375C21.7314 27.2513 21.8716 27.3405 22.025 27.4C22.1746 27.4661 22.3364 27.5003 22.5 27.5003C22.6636 27.5003 22.8254 27.4661 22.975 27.4C23.1284 27.3405 23.2686 27.2513 23.3875 27.1375L25.8875 24.6375C26.0047 24.5213 26.0977 24.383 26.1611 24.2307C26.2246 24.0784 26.2572 23.915 26.2572 23.75C26.2572 23.585 26.2246 23.4216 26.1611 23.2693C26.0977 23.117 26.0047 22.9787 25.8875 22.8625ZM15 22.5C15.3315 22.5 15.6495 22.3683 15.8839 22.1339C16.1183 21.8995 16.25 21.5815 16.25 21.25C16.25 20.9185 16.1183 20.6005 15.8839 20.3661C15.6495 20.1317 15.3315 20 15 20H10C9.66848 20 9.35054 20.1317 9.11612 20.3661C8.8817 20.6005 8.75 20.9185 8.75 21.25C8.75 21.5815 8.8817 21.8995 9.11612 22.1339C9.35054 22.3683 9.66848 22.5 10 22.5H15Z" fill="#1C3EC5"/>
                          </svg>
                        </div>
                        <p class="card-title fw-bold mt-2">Form Checklist</p>
                      </div>
                    </a>
                  </div>
              </div>
            </div>
          </article>
        </div>
      </section>
  </main>

<%- include('../partials/js.ejs') %>
</body>
</html>
