<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
<%- include('../partials/navbar.ejs') %>
<%- include('../partials/sidebar.ejs') %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Export Data</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Export Sertifikasi</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Filter</h3>
              </div>
              
              <div class="card-body">
              </div>
            </div>
          </div>
        </div> -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Export Data</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>No.Daftar</th>
                    <th>Nama Lengkap</th>
                    <th>NIM</th>
                    <th>NIK</th>
                    <th>Prodi</th>
                    <th>Skema Sertifikasi</th>
                    <th>Tanggal Ujian</th>
                    <th>Hasil Ujian</th>
                    <th>Tujuan Sertifikasi</th>
                    <th>Tanggal Lahir</th>
                    <th>Jenik Kelamin</th>
                    <th>Kebangsaan</th>
                    <th>Alamat</th>
                    <th>Kode Pos</th>
                    <th>No.Telp.HP</th>
                    <th>Email</th>
                    <th>Pekerjaan</th>
                    <th>Jabatan</th>
                    <th>Nama Perusahaan</th>
                    <th>Alamat Perusahaan</th>
                    <th>No.Telp Perusahaan</th>
                    <th>Email Perusahaan</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>202620701</td>
                      <td>MUHAMMAD IKHWAN</td>
                      <td>310118012620</td>
                      <td>6371032101010003</td>
                      <td>SI</td>
                      <td>LEAD PROGRAMMING</td>
                      <td>11 MARET 2024</td>
                      <td>KOMPETEN</td>
                      <td>SERTIFIKASI</td>
                      <td>BANJARBARU, 21 JANUARI 2001</td>
                      <td>LAKI-LAKI</td>
                      <td>INDONESIA</td>
                      <td>JL. CEMPAKA SARI III JALUE 2 NO.22</td>
                      <td>70714</td>
                      <td>+6282250001001</td>
                      <td>ikhwan@gmail.com</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>202620701</td>
                      <td>MUHAMMAD IKHWAN</td>
                      <td>310118012620</td>
                      <td>6371032101010003</td>
                      <td>SI</td>
                      <td>LEAD PROGRAMMING</td>
                      <td>11 MARET 2024</td>
                      <td>KOMPETEN</td>
                      <td>SERTIFIKASI</td>
                      <td>BANJARBARU, 21 JANUARI 2001</td>
                      <td>LAKI-LAKI</td>
                      <td>INDONESIA</td>
                      <td>JL. CEMPAKA SARI III JALUE 2 NO.22</td>
                      <td>70714</td>
                      <td>+6282250001001</td>
                      <td>ikhwan@gmail.com</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>202620701</td>
                      <td>MUHAMMAD IKHWAN</td>
                      <td>310118012620</td>
                      <td>6371032101010003</td>
                      <td>SI</td>
                      <td>LEAD PROGRAMMING</td>
                      <td>9 MARET 2024</td>
                      <td>KOMPETEN</td>
                      <td>SERTIFIKASI</td>
                      <td>BANJARBARU, 21 JANUARI 2001</td>
                      <td>LAKI-LAKI</td>
                      <td>INDONESIA</td>
                      <td>JL. CEMPAKA SARI III JALUE 2 NO.22</td>
                      <td>70714</td>
                      <td>+6282250001001</td>
                      <td>ikhwan@gmail.com</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>202620701</td>
                      <td>MUHAMMAD IKHWAN</td>
                      <td>310118012620</td>
                      <td>6371032101010003</td>
                      <td>SI</td>
                      <td>LEAD PROGRAMMING</td>
                      <td>9 MARET 2024</td>
                      <td>KOMPETEN</td>
                      <td>SERTIFIKASI</td>
                      <td>BANJARBARU, 21 JANUARI 2001</td>
                      <td>LAKI-LAKI</td>
                      <td>INDONESIA</td>
                      <td>JL. CEMPAKA SARI III JALUE 2 NO.22</td>
                      <td>70714</td>
                      <td>+6282250001001</td>
                      <td>ikhwan@gmail.com</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                  </tbody>
                  
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </div>

        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  
<%- include('../partials/footer.ejs') %>
</div>
<!-- ./wrapper -->
<%- include('../partials/js.ejs') %>
</body>
</html>
